body {
    margin: 0;
    padding: 0;
    background: #eee;
    background: url("../img/bg1.gif");
    background-size: cover;
    font-family: monospace;
}
#gameLabel {
    background: none repeat scroll 0 0 darkred;
    border: 1px solid white;
    border-radius: 15px;
    bottom: -12px;
    color: #fff;
    height: 100px;
    left: -12px;
    position: fixed;
    width: 100px;
}
.drinkEdit {
    float: left;
    height: 20px;
    width: 20px;
    background: url("../img/edit.png") no-repeat;
}

.drinkDelete {
    float: left;
    height: 20px;
    width: 20px;
    background: url("../img/delete.png") no-repeat;
}

.menu button {
    font-family: monospace;
    font-size: 18px;
    height: 55px;
    width: 120px;
    margin: 0 0 15px;
}

.topSettings select {
    color: #555;
    font-family: monospace;
    font-size: 18px;
    margin: 0 0 10px;
    padding: 5px;
    text-align: center;
    width: 98%;
}

.settingsBtn {
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
    width: 70%;
}

.settingsBtn input {
    font-family: monospace;
    font-size: 18px;
    height: 55px;
    width: 120px;
    background-color: darkred;
    border: 1px solid white;
    border-radius: 15px;
    color: #fff;
}

.playerName {
    float: left;
    width: 109px;
}

.playerPoints {
    float: left;
    text-align: center;
    width: 30px;
}

.playerEdit {
    float: left;
    height: 20px;
    width: 18px;
    background: url("../img/edit.png") no-repeat;
}

.playerDelete {
    float: left;
    height: 20px;
    width: 18px;
    background: url("../img/delete.png") no-repeat;
}

.drinkName {
    float: left;
    width: 109px;
}

.drinkName input {
    width: 109px;
    color: black;
    background: #fff;
    border: none;
}

.drinkName input:disabled {
    color: white;
    font-style: italic;
    background: darkred;
}

.drinkAlcohol {
    float: left;
    width: 20px;
}

.drinkAmount {
    float: left;
    text-align: center;
    width: 60px;
}

.drinkAmount input {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: white;
    margin-left: 2px;
    width: 56px;
}

.drinkAmount input:disabled {
    color: white;
    font-style: italic;
    background: darkred;
}

.settingsMenu {
    margin: 20px auto 0;
    width: 70%;
}

.settingsMenu input {
    height: 25px;
    margin: 5px;
    width: 58%;
}

.settingsMenu #drinks {
    float: left;
    min-width: 216px;
    width: 49%;
}

.settingsMenu #players {
    float: left;
    min-width: 216px;
    width: 49%;
    margin-right: 5px;
}

.clear {
    clear: both;
}

#actions div {
    background: none repeat scroll 0 0 #fff;
    float: left;
    height: 35px;
    margin: 2px;
    width: 35px;
}

.round {
    background: url(../img/round.png);
}

#actions img {
    height: 35px;
    width: 35px;
    box-shadow: 2px 2px 2px 0 #333;
}

#actions div.hiddenActionInfo {
    box-shadow: 7px 8px 7px 0 #333;
    padding: 10px;
    border: 1px solid #666;
    background: none repeat scroll 0 0 darkred;
    color: white;
    display: none;
    height: 200px;
    position: absolute;
    width: 300px;
    font-family: monospace;
}

#playersInfo {
    margin: 20px auto;
    width: 70%;
}

#drinksInfo {
    margin: 20px auto;
    width: 70%;
}

#activebutton {
    margin: 5px auto 0;
    width: 250px;
}

#activebutton button {
    background-color: darkred;
    border: 1px solid white;
    border-radius: 15px;
    color: #fff;
    font-family: monospace;
    font-size: 30px;
    height: 55px;
    width: 250px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.player.clearfix {
    background: none repeat scroll 0 0 darkred;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px 2px 5px 7px;
    box-shadow: 7px 8px 8px -4px #333;
    width:210px;
}

.drink.clearfix {
    background: none repeat scroll 0 0 darkred;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px;
    box-shadow: 7px 8px 8px -4px #333;
    width:210px;
}

.player.clearfix.last {
    margin: 0 0 5px 0;
}

.drink.clearfix.last {
    margin: 0 0 5px 0;
}

#actions {
    background: none repeat scroll 0 0 darkred;
    border: 1px solid white;
    border-radius: 15px;
    color: darkred;
    height: 40px;
    margin: 0 auto;
    width: 70%;
    box-shadow: 7px 8px 7px 0 #333;
    padding: 4px;
}

#taskwidow {
    background: none repeat scroll 0 0 darkred;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    font-family: monospace;
    font-size: 25px;
    height: 230px;
    margin: 20px auto 0;
    padding: 10px;
    width: 65%;
    box-shadow: 7px 8px 7px 0 #333;
    overflow: auto;
}


.topSettings {
    background: none repeat scroll 0 0 darkred;
    color: whitesmoke;
    border: 1px solid white;
    border-radius: 15px;
    font-family: monospace;
    margin: 1% auto;
    padding: 10px 0;
    width: 70%;
    text-align: center;
    box-shadow: 7px 8px 7px 0 #333;
}

#players div {
    background: none repeat scroll 0 0 darkred;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: 7px 8px 7px 0 #333;
    font-family: monospace;
}

#drinks div {
    background: none repeat scroll 0 0 darkred;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: 7px 8px 7px 0 #333;
    font-family: monospace;
}

.settingsheader div {
    color: #eee;
    float: left;
    text-align: center;
    text-decoration: underline;
    width: 300px;
    font-family: monospace;
    font-size: 22px;
}

.header {
    background: none repeat scroll 0 0 darkred;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    margin: 5px auto;
    padding: 10px;
    width: 70%;
    box-shadow: 7px 8px 7px 0 #333;
}

.menu {
    background: none repeat scroll 0 0 darkred;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    height: 200px;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -100px;
    padding: 15px;
    text-align: center;
    width: 150px;
    position: absolute;
    box-shadow: 7px 8px 7px 0 #333;
}

.playerName input {
    width: 109px;
    color: black;
    background: #fff;
    border: none;
}

.playerName input:disabled {
    color: white;
    font-style: italic;
    background: darkred;
}

.addPlayer {
    height: 20px;
    text-align: center;
    width: 209px;
}

.addDrink {
    height: 20px;
    text-align: center;
    width: 209px;
}

.playerSave {
    background: url("../img/save.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    width: 20px;
}

.playerCancel {
    background: url("../img/cancel.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    width: 20px;
}

#idAddPlayer {
    width: 210px;
}

.drinkSave {
    background: url("../img/save.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    width: 20px;
}

.drinkCancel {
    background: url("../img/cancel.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    width: 20px;
}

#idAddDrink {
    width: 210px;
}

#fog {
    background-color: rgba(80, 80, 80, 0.8);
    height: 1200px;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}

#messageboard {
    height: 160px;
    left: 50%;
    margin: -80px auto 0 -200px;
    position: absolute;
    top: 50%;
    width: 400px;
    z-index: 5;
    background: none repeat scroll 0 0 darkred;
    border: 1px solid #666;
    color: white;
    box-shadow: 7px 8px 7px 0 #333;
    display: none;
    padding: 10px;
    font-family: monospace;
}

#msgOkayButton {
    text-align: center;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
}

#msgOkayButton button {
    font-family: monospace;
    font-size: 22px;
    height: 30px;
    width: 100px;
}

#scrollpane {
    height: 125px;
    overflow: auto;
}

.playerItems {
    background: none repeat scroll 0 0 darkred;
    border: 1px solid #666;
    box-shadow: 7px 8px 7px 0 #333;
    border-radius: 15px;
    font-family: monospace;
    display: none;
    height: 200px;
    margin: -6px 0 0 -8px;
    padding: 5px 2px 5px 7px;
    position: absolute;
    width: 210px;
    z-index: 3;
}

.showItems {
    float: left;
}

.hiddenItemInfo {
    background: none repeat scroll 0 0 darkred;
    border: 1px solid #666;
    box-shadow: 7px 8px 7px 0 #333;
    color: white;
    display: none;
    height: 100px;
    padding: 10px;
    position: absolute;
    width: 300px;
}

.item.clearfix {
    float: left;
    height: 40px;
    margin: 0 10px 8px 0;
    width: 40px;
    background: #888;
}

.item.clearfix.last {
    margin: 0;
}

.closeItems {
    margin-bottom: 10px;
}
#drinks .clear {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 1200px) {
    #taskwidow {
        font-size: 45px;
    }
    .header {
        font-size: 30px;
    }
    .drinkName input {font-size: 20px;}
    .drinkAmount input {font-size: 20px;}
    .playerName input {font-size: 20px;}
    .playerPoints {font-size: 20px;}
    .topSettings label {font-size: 20px;}
    .topSettings select {font-size: 28px;}
    .settingsBtn input {    font-size: 35px;height: 65px;width: 175px;}
    #players label {font-size: 20px;}
    #drinks label {font-size: 20px;}
    .settingsMenu input {font-size: 18px;}
    #messageboard {font-size: 20px;}
    #taskwidow{height:300px}
    #actions div.hiddenActionInfo{font-size: 18px;}
    .hiddenItemInfo{font-size: 18px;}
    #activebutton button {font-size: 45px;height: 65px;width: 280px;}
}
#gamelogo {
    float: right;
    height: 80px;
    margin: 7px;
    width: 80px;
}
#gameLabel.popup {
    height: 120px;
    left: 50%;
    margin-left: -180px;
    margin-top: -60px;
    padding: 10px;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 360px;
    z-index: 5;
}