body {
    margin: 0;
    padding: 0;
    background: #eee;
}
.menu {
    background: none repeat scroll 0 0 #000;
    height: 200px;
    margin: 200px auto;
    padding: 15px;
    text-align: center;
    width: 150px;
}
.menu button {
    font-family: monospace;
    font-size: 18px;
    height: 55px;
    width: 120px;
    margin: 0 0 15px;
}
.topSettings select {
    font-family: monospace;
    font-size: 18px;
    height: 20px;
    text-align: center;
    width: 581px;
    color: #555;
}
.settingsBtn {
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
    width: 601px;
}
.settingsBtn input {
    font-family: monospace;
    font-size: 18px;
    height: 55px;
    width: 120px;
}
.playerName {
    float: left;
    width: 149px;
}
.playerPoints {
    float: left;
    text-align: center;
    width: 36px;
}
.drinkName {
    float: left;
    width: 206px;
}
.drinkAlcohol {
    float: left;
    width: 20px;
}
.drinkAmount {
    float: left;
    text-align: center;
    width: 60px;
}
.settingsMenu {
    margin: 20px auto 0;
    width: 601px;
}
.settingsMenu input {
    height: 25px;
    margin: 5px;
    width: 200px;
}
.settingsMenu #drinks {
    float: left;
    width: 298px;
}
.settingsMenu #players {
    float: left;
    width: 298px;
    margin-right: 5px;
}
.clear{
    clear: both;
}
#actions > div {
    background: none repeat scroll 0 0 #fff;
    float: left;
    height: 35px;
    margin: 2px;
    width: 35px;
}
.round{
    background: url(../img/round.png);
}
#actions img {
    height: 35px;
    width: 35px;
}
.hiddenActionInfo {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    display: none;
    height: 200px;
    position: absolute;
    width: 300px;
}
#playersInfo{
    margin: 20px auto;
    width: 601px;
}
#drinksInfo{
    margin: 20px auto;
    width: 601px;
}
#activebutton {
    margin: -28px auto 0;
    width: 250px;
}
#activebutton button {
    font-family: monospace;
    font-size: 30px;
    height: 55px;
    width: 250px;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.player.clearfix {
    background: none repeat scroll 0 0 #ddd;
    border: 1px solid #666;
    color: #333;
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px;
}
.drink.clearfix{
    background: none repeat scroll 0 0 #ddd;
    border: 1px solid #666;
    color: #333;
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px;
}
.player.clearfix.last {
    margin:0 0 5px 0;
}
.drink.clearfix.last {
    margin:0 0 5px 0;
}
#actions {
    background: none repeat scroll 0 0 #ddd;
    border: 1px solid #666;
    color: #333;
    height: 40px;
    margin: 0 auto;
    width: 601px;
}
#taskwidow {
    background: none repeat scroll 0 0 #ddd;
    color: #333;
    border: 1px solid #666;
    font-family: monospace;
    font-size: 25px;
    height: 230px;
    margin: 20px auto 0;
    padding: 10px;
    width: 581px;
}
.topSettings {
    background: none repeat scroll 0 0 #ddd;
    color: #333;
    border: 1px solid #666;
    margin: 0 auto;
    padding: 10px 0;
    width: 601px;
    text-align: center;
}
#players > div {
    background: none repeat scroll 0 0 #ddd;
    color: #333;
    border: 1px solid #666;
    margin-bottom: 5px;
    padding: 5px;
}
#drinks > div {
        background: none repeat scroll 0 0 #ddd;
        color: #333;
        border: 1px solid #666;
        margin-bottom: 5px;
        padding: 5px;
}
.settingsheader > div {
    color: #333;
    float: left;
    text-align: center;
    text-decoration: underline;
    width: 300px;
}
.header
{
        background: none repeat scroll 0 0 #ddd;
        color: #333;
        border: 1px solid #666;
        font-family: monospace;
        font-size: 20px;
        text-align: center;
        margin: 5px auto 0;
        padding: 10px;
        width: 581px;
}
.menu {
    background: none repeat scroll 0 0 #ddd;
    border: 1px solid #666;
    color: #333;
    height: 200px;
    margin: 200px auto;
    padding: 15px;
    text-align: center;
    width: 150px;
}